@import "gridlex-vars";

#banner-megalateral {
  padding: 0;
}

#aside {
  > div {
    padding-left: (30em/$fs);
    padding-right: (15em/$fs);
  }

  [id *= block-] {
    margin-top: (30em/$fs);

    &:first-of-type {
      margin-top: 0;
    }
  }
}

#main,
#aside {
  position: relative;
  z-index: 1;
}

#main {
  .grid & {
    padding-left: 0;
    position: relative;

    &:before {
      width: (1em/$fs);
      content: "";
      height: 100%;
      position: absolute;
      right: (-15em/$fs);
      background: $placeholder;
    }
  }
}

.main-border {
  padding-top: (30em/$fs);
  border-top: solid (1em/$fs) $placeholder;
}

.wrapper {
  width: (1560rem/$fs);
  margin: 0 auto !important;
  position: relative;
  height: 100%;

  #brick-wall & {
    width: (1590rem/$fs);
  }
}

@media #{map-get($gl-mq-list, lg)} {
  .wrapper {
    width: (1180rem/$fs);
    overflow: hidden;

    #brick-wall & {
      width: (1230rem/$fs);
    }
  }

  .grid #aside {
    padding-right: 0;

    > div {
      padding-right: 0;
    }
  }
}

@media #{map-get($gl-mq-list, sm)} {
  .wrapper {
    width: 100% !important;
    padding: 0 $padding;
    box-sizing: border-box;
  }

  .grid #main {
    padding: 0;

    &:before {
      @include hide();
    }
  }
}