#main-menu {
  $top: 20;
  height: (75em/$fs);
  background: $grey;
  text-align: center;
  overflow: hidden;

  .flickity-viewport {
    overflow: visible;
  }
  
  .view-content {
    height: (35em/$fs);
    margin: #{$top/$fs}em auto;
  }

  .views-row {
    display: inline-block;
    width: 115px;
    margin: 0 30px;
    height: 100%;
    position: relative;

    &:hover,
    &.selected {
      .menu-logos {
        filter: grayscale(0%);
      }

      .arrow {
        display: block;
        visibility: visible;
      }
    }

    .arrow {
      position: absolute;
      bottom: #{$top/-$fs}em;
      margin: 0 auto;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 (5em/$fs) (5em/$fs) (5em/$fs);
      border-color: transparent;

      @include hide();
    }
  }

  .menu-logos {
    filter: grayscale(100%);
    transition: filter 500ms;
    will-change: filter;
  }
}

#secondary-menu {
  $top: 24;
  height: (113em/$fs);
  overflow: hidden;

  .empresa-drowpdown-wrapper {
    @include hide();
  }

  .container {
    position: relative;
  }

  .secondary-menu-title {
    font-family: "DINN-Bold";
    $tfs: 24;
    font-size: #{$tfs/$fs}em;
    line-height: (22em/$tfs);
    width: (107em/$tfs);
    position: absolute;
    top: #{$top/$tfs}em;
    color: $white;

  }
  /*    margin: 1.57143em 0 0 14.28571em;
  */
  .empresa {
    margin: #{$top/$fs}em 0 0 (200em/$fs);
    height: (41em/$fs);
    @include hide();

    &.selected {
      display: block;
      visibility: visible;
    }
  }

  .empresa-link {
    text-transform: uppercase;
    $tfs: 12;
    font-size: #{$tfs/$fs}em;
    line-height: (30em/$tfs);
    color: white;
    margin: 0 (20em/$tfs);
  }

  .empresa-item {
    float: left;
  }
}

@media (max-width: (767em/$fs)) {
  #secondary-menu {
    height: (91em/$fs);

    .empresa-item {
      @include hide();
    }

    .empresa-drowpdown-wrapper {
      display: block;
      visibility: visible;
      position: absolute;
    }

    .secondary-menu-title,
    .empresa-drowpdown-wrapper {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/*   ------------   */

.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.navbar-default {
  background: none;
  border-color: #e7e7e7;
}

.navbar-nav {
  float: right;
  margin: 0;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
  $tfs: 12;
  font-size: #{$tfs/$fs}em;
  line-height: (40em/$tfs);

}

#navbar .have-new-messages {
  color: #de007b;
}

#block-bootstrap-municipios-main-menu {
  text-transform: uppercase;

}

#main-menu .filter-brigth img {
  filter: grayscale(100%) brightness(200%);
}

.badge {
  margin-left: -3px;
  padding: 4px 4px;
  vertical-align: top;
  background-color: #e04b8b;
  border-radius: 15px;
}


 
