.region-novedades {

	.block-title{
      color: #9aca3c;
      font-family: "DINN-Regular";
      font-size: (24em/$fs);
      text-transform: uppercase;
      margin-bottom: (10em/$fs);
    }
    .Wallop-item{

    		.views-field-title{
    			 font-family: "DINN-Bold";
    			$tfs:24;
		    	font-size: #{$tfs/$fs}em;
		    	line-height: (22em/$tfs);
		    	margin: (10em/$fs) 0 (15em/$fs) 0;
    		}

    		.views-field-field-descripcion-corta{
    			$tfs:16;
		    	font-size: #{$tfs/$fs}em;
		    	line-height: (22em/$tfs);

		    	.views-more-link {
                      font-size: (12em/$fs);
                      color: #99cc33;
                      text-transform: uppercase;
                      font-weight: bold;
                    }
    		}

    		.views-field-created{
              font-size: ($fs)em;
              line-height: (18em/$fs);
              color:#bbb;
          }
    }
}